.btn {
    padding: 1rem 4rem;
    border: 1px solid $white;
    color: $white;
    border-radius: 20px;
    text-align: center;
    color: $white;
    font-size: 1.6rem;
    text-decoration: none;
    font-weight: 500;
    line-height: 1;
    &:hover {
        color: black;
        background-color: $white;
        transition: .2s linear;
    }
}

.btn__item {
    border-radius: 30px;
    padding: 1.5rem 5rem;
    margin-bottom: 10rem;
}

.btn__item+.btn__item {
    margin-left: 1.5rem;
}

.btn__blue {
    border-radius: 30px;
    padding: 1.5rem 5rem;
    margin-bottom: 10rem;
    color: $secondary;
    border: 1px solid $secondary;
    font-size: 1.6rem;
    font-weight: 500;
    text-decoration: none;
    box-shadow: 0 0 12px rgba(128, 128, 128, 0.5);
    &:hover {
        color: $white;
        background-color: $secondary;
        transition: .1s linear;
    }
}

.btn__blue+.btn__blue {
    margin-left: 2.2rem;
}

.buttom__blue {
    background-color: $secondary;
    color: $white;
    &:hover {
        background-color: blue;
        transition: .4s linear;
        box-shadow: 0 0 30px $secondary;
        border-radius: 30px;
    }
}