.content__block {
    width: 50%;
}

.content__item {
    font-size: 4.6rem;
    font-weight: 500;
    line-height: 1.2;
    padding: 23.2rem 0 0;
    margin: 0;
}

.content__diescrube {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.2;
    color: $secondaryText;
    margin: 4.6rem 0;
    padding-right: 8rem;
}

.content__logo {
    padding: 11rem 0 0;
    margin-left: 3rem;
    margin-bottom: 11rem;
}


/*middle block*/

.content_conteiner {
    flex-direction: row-reverse;
}

.content__logoRight {
    margin-right: 2.2rem;
    padding-top: 6.5rem;
}

.content__right {
    padding: 23.2rem 0 0 8rem;
}

.content__textRight {
    padding-left: 8rem;
}


/*down block*/

.content__dB {
    max-width: 1538px;
    margin: 0 auto;
    display: flex;
    .content__DbLeft {
        width: 37%;
        .content__DbImg {
            width: 63%;
        }
    }
}

.content__DbItem {
    font-size: 4.6rem;
    font-weight: 500;
    line-height: 1.2;
    color: $fistText;
    padding: 11rem 11rem 0 3rem;
}

.content__DbText {
    padding: 0 18rem 3.4rem 3rem;
    color: $secondaryText;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.2;
}

.content__bottom {
    padding-left: 3rem;
    .content__DbLeftBtn {
        margin-left: .7rem;
    }
}

.content__DbImg {
    margin-top: 7rem;
}