.cta__content {
    max-width: 1538px;
    margin: 0 auto;
    display: flex;
    .cta__intro {
        width: 37%;
        .content__DbImg {
            width: 63%;
        }
    }
}

.cta__inner {
    font-size: 4.6rem;
    font-weight: 500;
    line-height: 1.2;
    color: $fistText;
    padding: 29rem 11rem 0 3rem;
}

.cta__descrube {
    padding: 0 18rem 3.4rem 3rem;
    color: $secondaryText;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.2;
}

.cta__bottom {
    padding-left: 3rem;
    .cta__Btn {
        margin-left: .7rem;
    }
}

.cta__img {
    margin: 10rem 0 7rem 5rem;
    padding-top: 10rem;
}