.item {
    max-width: 1583px;
    margin: 17rem auto;
}

.item__grid {
    display: grid;
    grid-template-rows: 17.8rem 5.2rem 60.8rem;
    gap: 10rem;
}

.iteam__text {
    color: $white;
    font-size: 5.5rem;
    font-weight: 900;
    line-height: 1.2;
    text-align: center;
    max-width: 63rem;
    margin: 2.7rem auto;
    padding: 0 .5rem;
}

.item__seconText {
    color: $grayText;
    font-size: 1.6rem;
    font-weight: 700;
    margin: 0 0 7.1rem;
    text-align: center;
}

.iten__btn {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.item__img {
    display: flex;
    justify-content: center;
    max-width: 1022px;
    margin: 0 auto;
    .item__imgPag {
        margin: 0 0 8.5rem;
        width: 100%;
    }
}

.header__burger {
    display: none;
    margin: 0 1rem;
}

.header__burger:hover .header__burgerSvg {
    fill: $secondary;
    transform: rotateX(180deg);
    transition: .5s linear;
}


/*----Media-----*/

@media (max-width: 1092px) {
    .header__list {
        display: none;
    }
    .header__burger {
        display: block;
    }
    .item__imgPag {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .header__list {
        display: none;
    }
    .header__burger {
        display: block;
        margin: 0 1rem;
    }
}

@media (max-width: 560px) {
    .item__grid {
        grid-template-rows: minmax(50%, 1fr);
        gap: 0;
        padding: 0 1rem;
    }
    .iteam__text {
        max-width: 307px;
        margin: 2.7rem auto;
    }
    .item__seconText {
        max-width: 334px;
        margin: 0 auto 7rem;
    }
    .iten__btn {
        flex-wrap: wrap;
        margin-bottom: 1.5rem;
    }
    .btn__item+.btn__item {
        margin: 0 0 1.5rem 0;
    }
    .btn__item {
        border-radius: 30px;
        padding: 1.5rem 8rem;
        margin-bottom: 1.5rem;
    }
    .header__list {
        display: none;
    }
    .header__burger {
        display: block;
    }
}