$white: #ffff;
$headerColor1: #CB1AE8;
$headerColor2: #37BDA6;
$lighText: #FFFFFF;
$grayText: #E5E5E5;
$colorBtn:#30D7BA;
$secondary:#03D6F3;
$fistText: #000000;
$totalText:#30D7BA;
$footercolor:#112D57;