.container__big {
    display: flex;
    justify-content: space-between;
    max-width: 1290px;
    margin: 0 auto;
    align-items: center;
}

.container {
    max-width: 1290px;
    margin: 0 auto;
    display: flex;
}

.container_sml {
    max-width: 1140px;
    margin: 0 auto;
    padding: 1rem 0;
    ;
}

.container__feature {
    max-width: 1320px;
    margin: 0 auto;
    padding-left: 32px;
    padding-right: 32px;
}

@media (man-width: 526px) {
    .container__feature {
        padding-left: 60px;
        padding-right: 60px;
    }
}