/*mixin*/

@import 'blocks/mixin';

/*blocks*/

@import 'blocks/var';
@import 'blocks/header.scss';
@import 'blocks/container.scss';
@import 'blocks/btn.scss';
@import 'blocks/item';
@import 'blocks/feature';
@import 'blocks/content';
@import 'blocks/down';
@import 'blocks/cta';
@import 'blocks/pricing';
html {
    font-size: 10px;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
p {
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    color: $fistText;
    margin: 0;
}

ul {
    list-style: none;
}

.link {
    color: $secondary;
    font-size: 1.5rem;
    text-decoration: none;
    line-height: 1.8;
    &:hover {
        text-decoration: underline;
        transition: .1s linear;
        cursor: pointer;
    }
}