/*mixin*/

@import 'blocks/mixin';

/*blocks*/

@import 'blocks/var';
@import 'blocks/header.scss';
@import 'blocks/container.scss';
@import 'blocks/btn.scss';
html {
    font-size: 10px;
}

*,
* ::before,
 ::after {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: $white;
}